CREATE DATABASE IF NOT EXISTS ECommerce;
GO
/****** Object:  Table [dbo].[TB_BAIRRO]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_BAIRRO](
	[ID_BAIRRO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CIDADE] [int] NOT NULL,
	[NM_BAIRRO] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BAIRRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CEP]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CEP](
	[ID_CEP] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOGRADOURO] [int] NOT NULL,
	[CEP] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CIDADE]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CIDADE](
	[ID_CIDADE] [int] IDENTITY(1,1) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[NM_CIDADE] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CLIENTE]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TB_CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [varchar](11) NOT NULL,
	[NM_CLIENTE] [varchar](150) NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[MARITAL_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TB_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ENDERECO]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ENDERECO](
	[ID_ENDERECO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_CEP] [int] NOT NULL,
	[NUMERO] [varchar](10) NOT NULL
	
PRIMARY KEY CLUSTERED 
(
	[ID_ENDERECO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ESTADO]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ESTADO](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[NM_ESTADO] [varchar](50) NOT NULL,
	[ESTADO_ABREVIADO] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_LOGRADOURO]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_LOGRADOURO](
	[ID_LOGRADOURO] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAIRRO] [int] NOT NULL,
	[NM_LOGRADOURO] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOGRADOURO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TELEFONE]    Script Date: 26/01/2018 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TELEFONE](
	[ID_TELEFONE] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[DDD] [varchar](3) NOT NULL,
	[NU_TELEFONE] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_CIDADE] ON 

GO
INSERT [dbo].[TB_CIDADE] ([ID_CIDADE], [ID_ESTADO], [NM_CIDADE]) VALUES (1100015, 11, N'Alta Floresta D''Oeste')
GO
INSERT [dbo].[TB_CIDADE] ([ID_CIDADE], [ID_ESTADO], [NM_CIDADE]) VALUES (1100023, 11, N'Ariquemes')
GO
INSERT [dbo].[TB_CIDADE] ([ID_CIDADE], [ID_ESTADO], [NM_CIDADE]) VALUES (1100031, 11, N'Cabixi')
GO
SET IDENTITY_INSERT [dbo].[TB_CIDADE] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_ESTADO] ON 

GO
INSERT [dbo].[TB_ESTADO] ([ID_ESTADO], [NM_ESTADO], [ESTADO_ABREVIADO]) VALUES (11, N'Rondônia', N'RO')
GO
INSERT [dbo].[TB_ESTADO] ([ID_ESTADO], [NM_ESTADO], [ESTADO_ABREVIADO]) VALUES (12, N'Acre', N'AC')
GO
INSERT [dbo].[TB_ESTADO] ([ID_ESTADO], [NM_ESTADO], [ESTADO_ABREVIADO]) VALUES (13, N'Amazonas', N'AM')
GO
SET IDENTITY_INSERT [dbo].[TB_ESTADO] OFF
GO
ALTER TABLE [dbo].[TB_BAIRRO]  WITH CHECK ADD FOREIGN KEY([ID_CIDADE])
REFERENCES [dbo].[TB_CIDADE] ([ID_CIDADE])
GO
ALTER TABLE [dbo].[TB_CEP]  WITH CHECK ADD FOREIGN KEY([ID_LOGRADOURO])
REFERENCES [dbo].[TB_LOGRADOURO] ([ID_LOGRADOURO])
GO
ALTER TABLE [dbo].[TB_CIDADE]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[TB_ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[TB_ENDERECO]  WITH CHECK ADD FOREIGN KEY([ID_CEP])
REFERENCES [dbo].[TB_CEP] ([ID_CEP])
GO
ALTER TABLE [dbo].[TB_ENDERECO]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TB_CLIENTE] ([ID_CLIENTE])
GO
